.dashboard {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.dashboard-content {
    flex-grow: 1
}

.dashboard-balances {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 auto;
    height: 100vh;
    min-width: 360px;
    background: $background-secondary;
    box-shadow: 0px 0px 40px rgba(0,0,0,.05);
}

.dashboard-balances h2 {
    position: relative;
    padding: 20px 20px 0px;
}

.dashboard-balances-pie {
    position: absolute !important;
    top: 0;
    right: 20px;
    transform: scale(.5);
    transform-origin: top right
}

.dashboard-balances-list {
    flex-grow: 1;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .9em

}

.dashboard-balance {
    display: flex;
    padding: 20px 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0
}

.dashboard-balance { border-top: 1px solid rgba(0,0,0,0.05) }
.dashboard-balance:not(:last-of-type) { border-top: 1px solid rgba(0,0,0,0.05) }


.dashboard-balance-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.dashboard-balance-title-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.dashboard-balance-title-logo-name {
    margin-top: 5px;
}


.dashboard-balance-kmd .dashboard-balance-title { color: #326464 }
.dashboard-balance-kmd svg { fill: #326464 }


.dashboard-balance-btc .dashboard-balance-title { color: orange }
.dashboard-balance-btc svg { fill: orange }

.dashboard-balance-eth .dashboard-balance-title { color: #4C7494 }
.dashboard-balance-eth svg { fill: #4C7494 }


.dashboard-balance-amount {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;

}

.dashboard-balance-amount-balance {
    font-size: 2em;
    font-weight: 200
}

.dashboard-balances-footer {
    background: $background-primary;
    font-weight: 600
}

.dashboard-balances-footer {
    box-shadow: 0px 0px 40px rgba(0,0,0,.05);

}

.dashboard-balances-footer .dashboard-balance-title { margin-right: 0 }

.dashboard-balances-footer .dashboard-balance-amount-balance { font-weight: 600 }
